.ts.inverted.info.menu{
    border-radius: 0px;
}
.item.setting{
    border-left-color: #6c9fb2;
    border-left-style: solid;
    border-left-width: 1px;
}

.ts.center.inverted.header{
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal; 
}
.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }

#error-url-addtab{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* FONT SETTINGS */
@font-face {
    font-family: 'JelleeBold';
        src: url('/public/fonts/Jelle/JelleeBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'JelleeRoman';
        src: url('/public/fonts/JelleBold/JelleeRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Jellee';
        src: url('/public/fonts/Jelle/JelleeBold.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Jellee';
        src: url('/public/fonts/JelleBold/JelleeRoman.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
